body {
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
}

#page_wrap {
    width: 816px;
    min-height: 1056px;
    margin: 20px 10px;
    background-color: rgb(235, 235, 235);
    box-sizing: border-box;
    padding: 64px 96px 96px 144px;
    font-size: 16px;
    font-family: courier;
    color:rgb(41, 41, 41);
    /* border: 1px solid black; */
}

#page:focus {
    outline: none;
}

#menu {
    margin: 20px 10px;
    max-width: 250px;
    min-height: 300px;
    max-height: 400px;
    height: auto;
    padding: 12px;
    background-color: rgb(46, 46, 46);
    color:rgb(209, 209, 209)
}

#menu .warning {
    background-color:rgba(255, 252, 94, 0.699);
    color:rgb(41, 41, 41);
    border: 3px solid rgba(233, 229, 11, 0.808);
    padding: 3px;
    border-radius: 5px;
}

#controls li {
    margin: 8px 0;
}

#controls kbd {
    border-radius: 4px;
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(221, 221, 221);
    color:rgb(20, 20, 20);
    padding: 3px;
}

/*
*************************************
*        Formatting Styles
*************************************
*/

.scene-header {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2em;
    background-color: rgb(194, 194, 194);
    color:rgb(41, 41, 41);
    padding-left: 5px;
}

.scene-action {
    margin-top: 1em;
}

.scene-character {
    margin: 1em 0 0 211px;
    text-transform: uppercase;
}

.scene-character-parentheticals {
    margin: 0 0 0 154px
}
.scene-character-parentheticals::before {
    content: "(";
    color:rgb(41, 41, 41);
}
.scene-character-parentheticals::after {
    content: ")";
    color:rgb(41, 41, 41);
}

.scene-character-dialogue {
    margin: 0 0 0 96px;
    max-width: 336px;
    width: 336px;      
}